{% extends 'base.html' %}

{% block header %}
  {% block title %}Potential Roomates List{% endblock %}
{% endblock %}

{% block content %}
  <header><h1 class="fw-bolder position-absolute top-0 start-50 translate-middle-x">Potential Roomates List</h1></header>

    <br><br><br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Similarity Rating</th>
          </tr>
        </thead>

    {% for i in range(g.count) %}
    <tbody>
        <tr>
          <th class="table-primary"scope="row">{{ i+1 }}</th>
          <td class="table-primary">{{ g.names[i] }}</td>
          <td class="table-primary">{{ g.zips[i] }}</td>
          <td class="table-primary">{{ g.phones[i] }}</td>
          <td class="table-primary">{{ g.scores[i] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}